<div class="brand">
    <h3> Powered by <a href="https://github.com/impronunciable/hackdash">HackDash</a></h3>
</div>
<a class="up-button">
  <i class="fa fa-long-arrow-up"></i>
  <span>{{__ "up"}}</span>
</a>
