<div id="footer"><br/>
  <div class="text-center"><img src="/images/static/g0v-invert.png"/></div>
  <div class="text-center"><a href="http://github.com/g0v/" target="_blank" class="label label-primary"><span>Source</span></a><span> </span><a href="http://hack.g0v.tw" target="_blank" class="label label-primary"><span>Jothon</span></a><span> </span><a href="http://g0v.tw" target="_blank" class="label label-primary"><span class="g0v">g0v</span></a><span> </span><a href="http://hack.g0v.tw/transaction" target="_blank" class="label label-primary">本計畫收支細項 </a><span> </span><a href="https://github.com/impronunciable/hackdash" target="_blank" class="label label-primary">Powered By Hackdash </a></div>
</div>

