#team{
  color: #fff;
  background: #15a9a4;
  font-weight: 100;
  font-size: 0.9em;
}
#team h4, #judge h4 {
  margin-bottom: 10px;
}
#team > .inner, #judge > .inner {
  width: 90%;
  max-width: 90%;
}
#team .media-body p, #judge .media-body p {
  font-size: 0.9em;
}

#judge .media-body h4 {
  font-weight: 500;
  font-size: 1.1em;
}
#judge .media-body p {
  font-weight: 300
}
#judge {
}
