.sep.block.section
  h1.text-center 2017 Spring Grants
.section
  .inner
    +project("Cofacts", "ggm", "588fa7b382223f001e022944", "2017-spring/linebot",
    "http://beta.hackfoldr.org/cofacts", "W2LQb7Ol-7g")
      p a collaborative fact-checking system combining a LINE chatbot with a hoax database.
      p amount: 300,000 NTD.
    +project("middle2", "Ronny Wang", "586a35518891f3001ea69b03", "2017-spring/middle2", "https://middle2.com/",
    "pAzQsPISH9I")
      p an open source PaaS (Platform-As-A-Service) for civic tech, open data, open government projects for free.  
      p amount: 500,000 NTD.
    +project("Councillor Voter Guide", "Johnny Luo", "586bb078b46ada001e477f33", "2017-spring/vote-guide",
    "https://councils.g0v.tw/", "GL_JFDlqRKI")
      p Displaying track records, property declaration and other objective information of the candidates to make more informed voters. 
      p amount: 500,000 NTD.
    +project("Taiwan National Treasures", "Hsin Hsiao", "586e658a6901c8001e1c6a10", "2017-spring/treasure",
    "http://beta.hackfoldr.org/national-treasures", "JtnimPo-Wno")
      p To unearth historical documents on Taiwan around the world by calling on volunteers to help digitally archive them and to provide open online access for all.
      p amount: 500,000 NTD
    +project("Verdict Search", "Billy Lin", "58749ce08798fb001e73251c", "2017-spring/justice",
    "https://sunshine.jrf.org.tw/", "OOiPP_0zP3s")
      p Launched by Judicial Reform Foundation to make verdicts easy to search and share to promote open judiciary.  
      p amount: 360,000 NTD.
    +project("AgriWeather", "Shaw Wu", "587873a755fa75001ef55ed4", "2017-spring/bee-weather",
    "", "xyE5p57oXBo")
      p Building low cost open source IoT sensors with data analysis on microclimate to help farmers improve cultivation.
      p amount: 500,000 NTD.
    +project("GoodJob", "Barry", "588b039d015368001e64a3e5", "2017-spring/goodjob",
    "https://goodjob.life", "XYekABJMQ38")
      p Aims at making Taiwan’s job-seeking market more transparent and helping labors understand labor laws.
      p amount: 500,000 NTD.
