.sep.block.section
  h1.text-center 2017 Autumn Grants
.section
  .inner
    +project(
    "Taiwan Watch: Taiwan Affairs in the US Congress",
    "Ya-Chieh Hsu", "59684fd3c293de001ef0bd9f", 
    "2017-autumn/taiwan-watch", "", "")
      p Taiwan Watch is a project initiated by a group of Taiwanese in the United States in  hope of enhancing the general public’s understanding of  the U.S. legislation  concerning Taiwan.. This project reflects  the spirit of open data and open government in its collection and analysis of Taiwan-related bills. Taiwan Watch’s initial goals are (1) to familiarize the users with the legislative processes of the U.S. Congress, and (2) to show how a bill becomes a law , including  its introduction, debate, and vote. 

    +project(
    "Foodsharing Taiwan",
    "Stafan Simon", "5968ee2fd60a0d001ed1f7d1",
    "2017-autumn/foodsharing-taiwan", "", "")
      p "Foodsharing Taiwan" is an easy to use multi-language online tool that promotes organizing cooperations with stores on a large scale in an easily manageable way to systematically fight global food waste. After actively participating in Foodsharing.de in Germany, the project proposer moved to Taiwan for work and set up a local  food sharing group here;  “Foodsharing Taiwan” manages collecting food from various shops and has set up two public refrigerators.


    +project(
    "YA0H: Yet Another g0v Hub",
    "Caasi", "5969ed35d60a0d001ed1f7f6",
    "2017-autumn/ya0h", "", "")
      p As the g0v community continues to grow, it has accumulated many projects, but whether they continue to operate depends on involvement of active participants. This project hopes to reduce the efforts required by g0vers in organizing and understanding old projects and reuse past efforts (such as awesome list, g0v.json) to connect projects and their contexts, make it easier for g0vers to share and introduce g0v projects and participators to find projects they can contribute towards, thus promoting sustainable development of civic technology projects.

    +project(
    "LostSAR Search & Rescue",
    "Gavin Chang", "596a2483d60a0d001ed1f816", 
    "2017-autumn/lostsar", "", "")
      p LostSAR Search & Rescue uses wireless beacons and drones to resolve mountain search and rescue difficulties. The benefits include low prices, the electronics cost mere double digits in dollars, convenience and effectiveness, can be carried around long-term and does not require building much hardware.

    +project(
    " “AgriNote”-your helper in in the field",
    "Shaw Wu", "596aed1dd60a0d001ed1f848", 
    "2017-autumn/agrinote", "", "")
      p "AgriNote" is an app that modularizes farming records; it uses simple Q&As and dropdown menus to help farmers easily record their activities.  It lowers the threshold for farmers to digitally record their farming activities and production history and in combination with ‘AgriWeather’s’ microclimate information, will encourage the  development of further applications solving agricultural problems.

    +project(
    " The Relationships between Taiwan Enterprise Groups and Environmental Social Responsibility",
    "Shen-Han Hong", "596c662fd60a0d001ed1f8ea",
    "2017-autumn/taiwan-corp", "", "")
      p Bian Zhongpei and Green Citizens’ Action Alliance are going to consolidate Taiwan's top 500 enterprise groups’ parent-subsidiary company relationships with open data such as pollution discharge information from Transparent Footprint, or publicized list of companies found breaking labour laws released by the government, to enhance citizens’ abilities to better supervise enterprises.

