{
    "twitter": {
        "consumerKey" :   "<KEY>"
      , "consumerSecret" : "<SECRET>"
      , "callbackURL":  "http://localhost/auth/twitter/callback"
    }
  , "meetup": {
        "consumerKey": "<KEY>"
      , "consumerSecret": "<SECRET>"
      , "callbackURL": "http://local.host:3000/auth/meetup/callback"
    }
  , "facebook": {
        "clientID": "<KEY>"
      , "clientSecret": "<SECRET>"
      , "profileFields": ["id", "displayName", "photos", "email"]
      , "callbackURL": "http://local.host:3000/auth/facebook/callback"
    }
  , "github": {
        "name": "GitHub"
      , "clientID": "<ID>"
      , "clientSecret": "<SECRET>"
      , "scope": ["user:email"]
      , "callbackURL": "http://local.host:3000/auth/github/callback"
    }
  , "google": {
      "clientID": "<ID>"
      , "clientSecret": "<SECRET>"
      , "callbackURL": "http://local.host:3000/auth/google/callback"
    }
  , "auth0": {
        "name": "Others"
      , "icon": "paper-plane"
      , "domain": "<DOMAIN>"
      , "clientID": "<ID>"
      , "clientSecret": "<SECRET>"
      , "callbackURL": "http://local.host:3000/auth/auth0/callback"
    }
}
