extends layout
block content
  include about/nav.jade
  div(style="height:0px;overflow:hidden") &nbps;
  #news-detail-page.section
  include about/footer.jade
  include about/ga.jade
block scripts
  script.
    var container = document.getElementById("news-detail-page");
    var id = window.location.search.replace(/\?/g, '');
    if (!Number.isInteger(id)) {
      throw "Incorrect ID";
    }
    $.ajax({
      url: "https://discuss.grants.g0v.tw/t/topic/" + id + ".json",
      method: "GET",
    }).success(function(r) {
      var link = [
        '<hr><a href="https://discuss.grants.g0v.tw/t/topic/',
        id,
        '" target="_blank"><i class="glyphicon glyphicon-link"/>原文連結</a>'
      ].join("");
      container.innerHTML = r.post_stream.posts[0].cooked + link;
    });

