extends layout

block styles

  link(rel='stylesheet', href='/styles/app.css?v=' + version)

block content
  span(class="url",style="display: none")= "\n\n" + proto + "://" + host + "/projects/" + projectId + "\n\n"

block scripts

  script(src="/js/hackdashApp.js?v=" + version)

  script.
    $(function(){
      window.hackdash.startApp();
    });
