#power.section
  .inner
    h3 2017 年秋季獲獎專案
    +project("美國國會台灣觀測站", "Ya-Chieh Hsu", "59684fd3c293de001ef0bd9f", 
    "2017-autumn/taiwan-watch", "", "")
      p 雖然台美沒有正式的外交關係，但官方與民間彼此卻長期保有相當程度的互動。國會是美國的立法單位，關係著美國內政外交的政策走向。秉持著開放資料、開放政府的精神，我們希望透過集結及整理美國國會台灣相關法案，讓更多人能了解、甚至參與美國的政策決策圈。

    +project( "Foodsharing Taiwan", "Stafan Simon", "5968ee2fd60a0d001ed1f7d1",
    "2017-autumn/foodsharing-taiwan", "", "")
      p 「享食雲」是可簡易上手的多語言線上工具，用來推動世界各地的食物分享，避免食物浪費。目前已可透過此工具收集並分享合作商店的食物。未來將加入 P2P 食物分享機制：使用者可創立自己的數位「食物籃」，裡面顯示公用冰箱和食物櫃的資訊。

    +project( "YA0H: Yet Another g0v Hub", "Caasi", "5969ed35d60a0d001ed1f7f6",
    "2017-autumn/ya0h", "", "")
      p g0v 專案很多，過去有過很多 project hub ，這個專案想利用過去的成果，並把專案與其脈絡連結起來，方便 g0ver 分享與介紹 g0v 專案，方便參與者尋找自己可以貢獻的專案。

    +project("LostSAR Search & Rescue", "Gavin Chang", "596a2483d60a0d001ed1f816", 
    "2017-autumn/lostsar", "", "")
      p 利用無線信標(BEACON)技術，推廣找人的應用及技術。 第一階段 推廣 使用者帶BEACON的物件 當設定的留守時間沒取消時， 利用無人機搜尋訊號快速定位。達到快速找到人的應用。

    +project("阿龜誌—農務紀錄好幫手", "Shaw Wu", "596aed1dd60a0d001ed1f848", 
    "2017-autumn/agrinote", "", "")
      p 「阿龜誌」是一套將田耕紀錄模組化，用問答及選單方式幫助農友輕易完成田耕紀錄的APP，透過「阿龜誌」，將能降低農友進行數位田耕紀錄以及生產履歷的使用門檻，這些田耕紀錄資料結合「阿龜微氣候天眼通」的微氣候資料，將能發展更多應用，解決農業問題。

    +project( "台灣企業集團母子公司關係與環境社會責任", "Shen-Han Hong", "596c662fd60a0d001ed1f8ea",
    "2017-autumn/taiwan-corp", "", "")
      p 公民卞中佩與綠盟共同規劃與執行本計劃，進行以下工作：
      ol
        li 整理台灣企業集團的母子公司資料，建置「台灣企業集團母子公司關係圖」之API。
        li 與透明足跡的企業環境資料結合，呈現企業集團之環保記錄，以及對應的環境社會責任。

