#power.section
  .inner
    h3 先承認你就是沒有人！
    p 針對徵求主題，任何公民皆可提出開源專案，申請 30 萬 - 50 萬之公民科技創新獎助金。
    br
    h4 一般主題
    ul
      li 新媒體應用，例如：增進媒體使用數據資料、法案的工具
      li 開放資料，例如：建立跨國政商關係資料庫通用平台
      li 公共服務，例如：協助弱勢找尋政府與民間可能適合自己的福利、補助
      li 開放政府，例如：訂閱政府網站公告、政策法案等主動通知系統
      li 社會參與，例如：協助線上討論、分析爭點與群眾決策的工具
      li 基礎建設，例如：幫助社群發展、維護、可吸引更多開發者加入的專案
    hr
    a.btn.btn-primary.btn-xl(href="/dashboards/#{grantdash.dashboard}/create",target="_blank") 我要提案
    a.btn.btn-link.btn-xl.pull-right(href="/") #[i.fa.fa-link] 由此去了解更多 #[i.fa.fa-arrow-right]
