#power.section
  .inner
    h3 先承認你就是沒有人！
    p 針對徵求主題，任何公民皆可提出開源專案，申請 30 萬 - 50 萬之公民科技創新獎助金。
    br
    h4 一般主題
    ul
      li 新媒體應用，例如：增進媒體使用數據資料、法案的工具
      li 開放資料，例如：建立跨國政商關係資料庫通用平台
      li 公共服務，例如：協助弱勢找尋政府與民間可能適合自己的福利、補助
      li 開放政府，例如：訂閱政府網站公告、政策法案等主動通知系統
      li 社會參與，例如：協助線上討論、分析爭點與群眾決策的工具
      li 基礎建設，例如：幫助社群發展、維護、可吸引更多開發者加入的專案
    h4 特別主題
      li 聯合報系願景工程特別獎：10 萬
        ul
          li 於獎助名單公佈後，由聯合報系願景工程依據以下評選方向，加碼贊助一個專案。
          li 世代協力：「世代對立」到底是無奈現實還是假議題？從太陽花、年金改革、22K下的哀傷小確幸，嬰兒潮世代和太陽花世代，似乎引發了階級、資源工作與社會流動的巨大焦慮。是誰奪走了誰的希望，誰透支了誰的未來？又或者，這一切是因為我們不懂彼此的犧牲及擔憂，環境變化太快，世代之間來不及有機對接之故？有沒有什麼方法，可以讓我們不再用年紀來界定他人，一如我們不會接受別人用性別、種族或收入來界定自己一樣。有沒有更好的工具可以讓不同世代透過科技彼此理解、跨代協力，從中獲得有意義的連結，更顛覆過時的年齡期待？這是很大的命題，也是有趣的挑戰，需要更多的創意與不按牌理出牌。
    hr
    a.btn.btn-primary.btn-xl(href="/dashboards/#{grantdash.dashboard}/create",target="_blank") 我要提案
    a.btn.btn-link.btn-xl.pull-right(href="/") #[i.fa.fa-link] 由此去了解更多 #[i.fa.fa-arrow-right]
