include 2017a.jade
.section: .inner
  .text-center 想要了解專案進度或加入協作嗎？#[br]#[br] #[a.btn.btn-danger.btn-lg(href="http://beta.hackfoldr.org/ctgrant-reports",target="_blank") 由此進入獲獎團隊進度報告]
include 2017s.jade
.section: .inner
  .text-center #[a.btn.btn-danger.btn-lg(href="/downloads/2017S_g0v_Grant_Demo.pdf",target="_blank") 春季獎助金成果手冊]
