#power.section
  .inner
    h3 專案連結
    p 獲獎專案應於專案網站提供連結連回此頁面，以下為連結範例：
    hr
    .row
      .col-sm-6.text-center
        span 方形貼紙
      .col-sm-6.text-center
        span 長形貼紙
    .row
      .col-sm-6.text-center
        a(href="http://grants.g0v.tw/power/"): img(src="http://grants.g0v.tw/images/power/poweredby-square.svg",
        style="width:240px;margin:10px")
      .col-sm-6.text-center
        a(href="http://grants.g0v.tw/power/"): img(src="http://grants.g0v.tw/images/power/poweredby-long.svg",
        style="width:300px;margin:35px")
    hr
    p 源碼範例：
    pre.well.
      &lt;a href="https://grants.g0v.tw/power/" target="_blank"&gt;
        &lt;img src="https://grants.g0v.tw/images/power/poweredby-square.svg" alt="Powered by g0v"/&gt;
      &lt;/a&gt;
    h4 其它圖檔格式
    label SVG, 方形
    img(src="/images/power/poweredby-square.svg",style="border:1px dashed #999;display:block")
    br
    label SVG, 長形
    img(src="/images/power/poweredby-long.svg",style="border:1px dashed #999;display:block")
    br
    label PNG, 方形 ( 320 x 100 )
    img(src="/images/power/poweredby-square.png",style="border:1px dashed #999;display:block")
    br
    label PNG, 長形 ( 640 x 80 )
    img(src="/images/power/poweredby-long.png",style="border:1px dashed #999;display:block")
