#about.section
  .inner
    if !config.aboutSimplified
      h3 關於 #[span.g0v g0v].tw 台灣零時政府社群
      p 自 2012 年以來，公民科技運動風起雲湧，以開放透明、公民參與為號召的 #[span.g0v g0v] 台灣零時政府社群號召了第一場活動，以「寫程式改造社會」為口號，從此開始公民科技之火開始延燒，至今未歇。
      br
      p 六年間，在上千位參與者集體的貢獻下，透過一場場黑客松，打造出多項以開放資料、開放政府為精神的資訊平台，以縮短數位落差為初衷，降低公民參與門檻，使得議題審議可立基在具體事實，提升理性討論公共事務的意識。
      br
      p 這場開放資料、開放政府運動，#[span.g0v g0v] 社群也打破了民間與政府對抗的傳統運動路線，開創出台灣公民社會與政府互動的新模式。
      br
      p 然而，這類開源工具開發、經營，甚至社群本身，大多仰賴志願者的熱情投入。雙月大黑客松可說是 #[span.g0v g0v] 社群的起點，六年多來，#[span.g0v g0v] 揪松團已舉辦三十餘次百人大黑客松，至今超過上千人次參與。
        a(href="https://github.com/g0v/awesome-g0v" target="_blank") 總共發想出了數百個專案，其中少數發展成真正具有社會影響力的成品。
      br
      p 我們認為好的創意與設計還需要#[b 投入持續開發、長期營運維護的人力與心力]，才能真正成為足以產生改變、激發更多創意與發展的成果。
      br

    h3 #[span.g0v g0v] 公民科技創新獎助金
    p 為鼓勵更多優秀人才投入公民科技領域、加速孵化更多成果，揪松團向國內外各大具社會影響力之媒體、科技產業、非政府組織募集「#[b 公民科技創新獎助金]」，並設計一套參與、評選機制，來獎助具潛力且有助公共利益的專案，投入原型開發或維護營運。
    br
    p 長期舉辦 #[span.g0v g0v] 黑客松的揪松團期待透過與關注科技與社會的企業、團體合作，共同推廣成果。希望在黑客松的形式之外，促使更多公民科技專案成果能真正產生影響力，創造蝴蝶效應，並延伸出更多可能。

    br
    h3 開源與公民科技
    p 開源（開放原始碼）是指將成果用
      a(href="https://zh.wikipedia.org/wiki/開放內容" target="_blank")開放授權
      的方式公開出來，讓其他人可以直接使用、改作、加入協作或發展出更新的版本。好處是過程透明、更容易協作，成果共享。
      a(href="https://www.youtube.com/watch?v=6NhyCXJU-IQ" target="_blank") 從這個影片可以看到更多關於開源運動的介紹。

    p 公民科技（Civic Tech）是以打造新的科技工具來促進公民參與的新實踐，以增進溝通、群眾共識與公民參與，同時也有運用開放資料增強政府的透明度、國會監督與政府課責等面向。公民科技的表現形多元，多以網路平台、線上服務、手機或桌面 APP，瀏覽器外掛、實體裝置等，首要對象即是公民社會，並為了提升公共利益而產生。

    br
    h3 開源與商業應用
    p 開源、公民科技與商業化並不互斥，重點在於如何找到他們之間的平衡點。事實上，早已有許多案例是將商業模式建立在開源之上。商業運用開源模式的策略思考往往從以下幾點面向出發：
    ul
      li 與社群協同開發
      li 品牌形象經營與宣傳
      li 降低採用門檻

    p 開源並非如我們直覺般想像的免費提供產品給用戶，而是在雙方互信的基礎下，作為企業可以靈活運用的一種經營策略。 #[span.g0v g0v] 在開源上亦揉合了公民科技的精神，仍保留了商業化的想像空間，並期許能催生永續經營的 #[span.g0v g0v] 專案，再回饋至 #[span.g0v g0v] 社群，形成一個健康的開放生態系。
    #means
    br

#brief.section
  .inner
    h1 活動辦法
    h3 獎助內容
    ul
       li 每個計畫獎助新台幣 30 - 50 萬元
       li 八個月為一期的開發期程
       li 合作夥伴提供 10 萬元加碼獎
       li 主辦單位媒合顧問資源、媒體追蹤報導與公民團體
    if !config.aboutSimplified
      h3 重要時程
      ul
       li 11/1 #[a(href="https://g0v.hackmd.io/c/wishingken/", target="_blank") 許願池] 開放
       li 12/10-1/13 公開提案（公開評論開放到 2/27）
       li 2 月初 公告決選入圍名單
       li 2 月中旬 提交定版提案
       li 2 月下旬 決選會議
       li 3/9 啟動工作坊
       li 7 月 期中報告 @ g0v 大黑客松
       li 11 月 期末成果發表會
      h3 申請條件
      ul
       li 具有台灣國籍或居住於台灣之自然人
       li 提案必須是開放原始碼，且符合 #[a(href="http://g0v.tw/zh-TW/manifesto.html", target="_blank") g0v 宣言精神]
       li 軟體專案必須使用符合 #[a(href="https://opensource.org/licenses",target="_blank") OSI] 認可之授權
       li 文字、圖像等使用必須符合 #[a(href="https://creativecommons.org/share-your-work/public-domain/freeworks/", target="_blank") Free Culture Works] 定義
       li 提案必須考量行動裝置 Mobile-Friendly
       li 可參考這個 #[a(href="https://g0v.hackmd.io/c/wishingken/",target="_blank") 申請範本（許願池）]
       li 提案前請詳閱 #[a(href="https://docs.google.com/document/d/1zqPkVmuBab4tbEyPHr4u-lE6mnayRkq51EO3igIq5Mc/edit?usp=sharing",target="_blank") 2019 g0v 公民科技創新獎助金申請實施細則]
      h3 評選標準
      p 最終獎助金發放由 #[span.g0v g0v] 揪松團邀請公正專業人士組成評選委員會，依以下標準評選：
      ul
        li 影響力 Impact
        li 可重複使用性 Reusability
        li 可行性 Feasibility
        li 完成度 Completion
