#about.section
  .inner
    if !config.aboutSimplified
      h3 關於 #[span.g0v g0v].tw 台灣零時政府社群
      p 自 2012 年以來，公民科技運動風起雲湧，以開放透明、公民參與為號召的 #[span.g0v g0v] 台灣零時政府社群號召了第一場活動，以「寫程式改造社會」為口號，從此開始公民科技之火開始延燒，至今未歇。
      br
      p 四年間，在上千位參與者集體的貢獻下，透過一場場黑客松，打造出多項以開放資料、開放政府為精神的資訊平台，降低公民參與門檻，也使得議題審議可立基在具體事實，提升理性討論公共事務的意識。
      br
      p 這場開放資料、開放政府運動，#[span.g0v g0v] 社群也打破了民間與政府對抗的傳統運動路線，開創出台灣公民社會與政府互動的新模式。
      br
      p 然而，這類開源工具開發、經營，甚至社群本身，大多仰賴志願者的熱情投入。雙月大黑客松可說是 #[span.g0v g0v] 社群的起點，三年多來，#[span.g0v g0v] 揪松團已舉辦二十餘次百人大黑客松，超過兩千人次參與。
        a(href="https://github.com/g0v/awesome-g0v" target="_blank") 總共發想出了數百個專案，其中少數發展成真正具有社會影響力的成品。
      br
      p 我們認為好的創意與設計還需要#[b 投入持續開發、長期營運維護的人力與心力]，才能真正成為足以產生改變、激發更多創意與發展的成果。
      br

    h3 #[span.g0v g0v] 公民科技創新獎助金
    p 為鼓勵更多優秀人才投入公民科技領域、加速孵化更多成果，我們向國內外各大具社會影響力之媒體、科技產業募集「#[b 公民科技創新獎助金]」，並從 #[span.g0v g0v] 零時政府揪松團設計一套參與、評選機制，來獎助具潛力且有助公共利益的專案，投入原型開發或維護營運。
    br
    p 長期舉辦 #[span.g0v g0v] 黑客松的揪松團期待透過與關注科技與社會的企業、團體合作，共同推廣成果。希望在黑客松的形式之外，促使更多公民科技專案成果能真正產生影響力，創造蝴蝶效應，並延伸出更多可能。
    P 
    br
    h3 開源與公民科技
    p 開源（開放原始碼）是指將成果用
      a(href="https://zh.wikipedia.org/wiki/開放內容" target="_blank")開放授權
      的方式公開出來，讓其他人可以直接使用、改作、加入協作或發展出更新的版本。好處是過程透明、更容易協作，成果共享。
      a(href="https://www.youtube.com/watch?v=6NhyCXJU-IQ" target="_blank") 從這個影片可以看到更多關於開源運動的介紹。
    br
    p 公民科技（Civic Tech）是以打造新的科技工具來促進公民參與的新實踐，以增進溝通、群眾共識與公民參與，同時也有運用開放資料增強政府的透明度、國會監督與政府課責等面向。公民科技的表現形多元，多以網路平台、線上服務、手機或桌面 APP，瀏覽器外掛、實體裝置等，首要對象即是公民社會，並為了提升公共利益而產生。
    P 
    #means
    br
    h3 獎助內容
    ul
      li 每個計畫獎助新台幣 30 ~ 50 萬元
      li 六個月一期的獎助期程
      li 媒合顧問資源、媒體追蹤報導
    if !config.aboutSimplified
      h3 重要時程
      ul
        li 7/1 線上公開提案開始
        li 7/16 提案截止
        li 7/26 公開提問截止
        li 7/29 提案修改截止
        li 8 月中 公告決選入圍名單
        li 8 月底 公告評選結果
        li 9/16 Kick-off workshop
        li 11 月底期中報告
        li 2 月底期末成果發表
      h3 申請條件
      ul
        li 具有台灣國籍或居住於台灣之自然人
        li 提案必須是開放原始碼，且符合 #[a(href="http://g0v.tw/zh-TW/manifesto.html", target="_blank") g0v 宣言精神]
        li 軟體專案須使用符合 #[a(href="https://opensource.org/licenses",target="_blank") OSI 認可之授權]文字、圖像等需使用符合 #[a(href="https://creativecommons.org/share-your-work/public-domain/freeworks/", target="_blank") Free Culture Works] 定義
        li 提案必須考量行動裝置 Mobile-Friendly
        li 可參考#[a(href="http://bit.ly/2fN8E4y",target="_blank") 這個申請範本]
        li 提案前請詳閱 #[a(href="https://docs.google.com/document/d/1qpGVl8bZgYMj0HZhFmB7-X-U_6MWB28xnz3SiwBClYI/edit?usp=sharing",target="_blank") g0v 公民科技創新獎助金申請實施細則]
      h3 評選標準
      p 最終獎助金發放由 #[span.g0v g0v] 揪松團邀請公正專業人士組成審查委員會，依以下比例評選：
      ul
        li 影響力 Impact
        li 可重複使用性 Reusability
        li 可行性 Feasibility
        li 完成度 Completion
        li 在地性 Locality
      h3 更多細節
      ul
        li 獎助金分期初期中兩期發放，根據申請時的期中檢核標準，核發補助
        li 台灣大哥大基金會特別獎:
        ul
          li 於獎助名單公佈後，由台灣大哥大基金會依據以下評選方向，加碼贊助一個專案。
          li #[a(href="https://sustainabledevelopment.un.org/sdgs",target="_blank") 永續發展目標（SDGs）]:建立在2000年於聯合國會議提出的「千禧年發展目標(MDGs)」基礎上，因應全球新的挑戰，聯合國於地球高峰會上再提出永續發展目標（SDGs），作為未來十五年（2016~2030年）重點發展議題。不論地區或階級，任何組織或個人，我們都是保護地球、推動永續發展目標（SDGs）重要的一份子，因此特別鼓勵能針對 SDGs 中 17 項目標，可涵蓋一個或多個領域的提案，攜手打造改變世界的機會。​
        li 獲補助者需出席期中、期末報告，並配合其它宣傳活動（至 2018 年 2 月底）。

