#about.section
  .inner
    h3 獎助細節
    ul
      li 獎助金分期初、期中、期末三期發放，根據申請時的期中、期末檢核標準，核發補助。
      li 獲獎助人需出席期中、期末報告，並配合其它宣傳活動（至 2019 年 11 月）。
      li 企業加碼獎：獎助金合作夥伴「聯合報系願景工程」將於計畫期程結束前，根據企業理念與專案契合度，加碼贊助一個專案 10 萬元。
      li 更多細節請詳閱 #[a(href="https://docs.google.com/document/d/1zqPkVmuBab4tbEyPHr4u-lE6mnayRkq51EO3igIq5Mc/edit?usp=sharing",target="_blank") g0v 公民科技創新獎助金申請實施細則]
