#about.section
  .inner
    h3 更多細節
    ul
      li 獎助金分期初、期中兩期發放，根據申請時的期中檢核標準，核發補助
      li 獲補助者需出席期中、期末報告，並配合其它宣傳活動（至 2018 年 10 月）。
          li 聯合報系願景工程特別獎：10 萬
        ul
          li 於獎助名單公佈後，由聯合報系願景工程依據以下評選方向，加碼贊助一個專案。
          li 世代協力：「世代對立」到底是無奈現實還是假議題？從太陽花、年金改革、22K下的哀傷小確幸，嬰兒潮世代和太陽花世代，似乎引發了階級、資源工作與社會流動的巨大焦慮。是誰奪走了誰的希望，誰透支了誰的未來？又或者，這一切是因為我們不懂彼此的犧牲及擔憂，環境變化太快，世代之間來不及有機對接之故？有沒有什麼方法，可以讓我們不再用年紀來界定他人，一如我們不會接受別人用性別、種族或收入來界定自己一樣。有沒有更好的工具可以讓不同世代透過科技彼此理解、跨代協力，從中獲得有意義的連結，更顛覆過時的年齡期待？這是很大的命題，也是有趣的挑戰，需要更多的創意與不按牌理出牌。
