#about.section
  .inner
    h3 更多細節
    ul
      li 獎助金分期初期中兩期發放，根據申請時的期中檢核標準，核發補助
      li 獲補助者需出席期中、期末報告，並配合其它宣傳活動（至 2018 年 2 月底）。
      li 台灣大哥大基金會特別獎:
      ul
        li 於獎助名單公佈後，由台灣大哥大基金會依據以下評選方向，加碼贊助一個專案。
        li #[a(href="https://sustainabledevelopment.un.org/sdgs",target="_blank") 永續發展目標（SDGs）]:建立在2000年於聯合國會議提出的「千禧年發展目標(MDGs)」基礎上，因應全球新的挑戰，聯合國於地球高峰會上再提出永續發展目標（SDGs），作為未來十五年（2016~2030年）重點發展議題。不論地區或階級，任何組織或個人，我們都是保護地球、推動永續發展目標（SDGs）重要的一份子，因此特別鼓勵能針對 SDGs 中 17 項目標，可涵蓋一個或多個領域的提案，攜手打造改變世界的機會。​
      br
      .text-center
        img(src="/images/static/sponsor/twn.png")
        span &nbsp; &nbsp; &nbsp;
        img(src="/images/static/2017a/SDGs.png")
