#judge.section: .inner
  .text-center
    h3 評選委員
  br
  .row

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/silva.jpg")
      .media-body
        h4.media-heading 史書華 / Hacks/Hackers Taipei 共同發起人
        p 新聞人，目前任職於外媒，遊走台北、北京兩城。曾蹲過紐約，也曾在台灣和香港擔任新聞系所的講師。


    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/ptt.jpg")
      .media-body
        h4.media-heading 杜奕瑾 / PTT 創站站長、《台灣 AI 實驗室》創辦人
        p 做為 #[a(href="https://zh.wikipedia.org/wiki/BBS",target="_blank") BBS] 站 #[a(href="https://zh.wikipedia.org/wiki/PTT",target="_blank") PTT] 的創站站長，前微軟公司人工智慧（AI）部門亞太區研究總監，台灣自由軟體協會會長，台灣 AI 實驗室創始人。

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/cjb.jpg")
      .media-body
        h4.media-heading 陳瑞賓 / 台灣環境資訊協會秘書長
        p 59年次，目前任職於台灣環境資訊協會。主要工作為推動環境資訊的交流與普及，做為啟動環境保護意識與行動的基礎，以此結合知識與人的力量來推動台灣的環境信託工作，保留台灣土地的活力與希望。

  .row
    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/cws.jpg")
      .media-body
        h4.media-heading 張瑋軒 / 女人迷創辦人暨執行長
        p 擅於應用科技結合知識議題，數位時代雜誌選為影響台灣的二十大女性。
    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/lkl.jpg")
      .media-body
        h4.media-heading 羅可容 / 綠色和平專案主任

        p 2010 年加入國際綠色和平組織擔任區域發展及專案負責人。

  .row
    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/clkao.jpg")
      .media-body
        h4.media-heading 高嘉良 / #[span.g0v g0v] 零時政府共同發起人
        p #[span.g0v g0v] 零時政府共同發起人。參加 1997 年國際資訊奧林匹亞後，進入台大資訊系就讀，即活躍於國內外開放源碼社群，隨後旅居英國倫敦從事軟體開發及顧問工作。2012 年發起 #[span.g0v g0v] 計畫。
    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/kirby.jpg")
      .media-body
        h4.media-heading 吳泰輝 / #[span.g0v g0v] 零時政府共同發起人
        p #[span.g0v g0v] 零時政府共同發起人，網路工程師，深度耕耘資料視覺化與新媒體實驗。
