#judge.section: .inner
  .text-center
    h3 評選委員
  br
  .row

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/ronnywang.jpg")
      .media-body
        h4.media-heading 王向榮 / 李慕約公司共同創辦人
        p 李慕約公司共同創辦人，g0v 社群長期參與者，發起與參與過新聞小幫手、求職小幫手、台灣公司資料、開放政治獻金等專案，希望更透明的政府可以讓大家有更自由幸福的生活。


    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/rb.jpg")
      .media-body
        h4.media-heading 冷彬 / 富邦文教基金會總幹事
        p 富邦文教基金會總幹事。紐約哥倫比亞大學社工碩士，投 身青少年社會工作領域近二十年，不停觀察、思考及嘗試以不同的藝術體驗、公民參與融入青少年團體工作，努力在工作中貫徹青少年自主培力的信念。

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/dhlin.jpg")
      .media-body
        h4.media-heading 林大涵 / 貝殼放大股份有限公司  執行長暨創辦人
        p 高中於九州留學，在學期間不務正業淪為政大台大雙學士候選人，特別喜歡棒球和 ACGN（動畫、漫畫、遊戲、小說），多屬性宅男。
        p 自 2011 年起開始參與群眾集資產業，參與超過 400 件專案，橫跨科技、設計、社會、創作、公益等領域。2014 年 10 月創辦群眾集資顧問公司「貝殼放大」，提供國內外群眾集資專案與 2017 台北世大運等大型品牌行銷規劃諮詢、製作、行銷的全面服務，成立三年累積集資金額已超過新台幣 7 億元。
        p 目前正職與實習生共約 35 名。 2015 年《經理人月刊》頒發 2015 年度臺灣 MVP 經理人，2016 年獲《富比士（福布斯）》雜誌選為 30 under 30 asia.

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/kirby.jpg")
      .media-body
        h4.media-heading 吳泰輝 / #[span.g0v g0v] 零時政府共同發起人
        p #[span.g0v g0v] 零時政府共同發起人，亦為資料視覺化領域與網頁技術專家。近年關注新聞創新領域，為 Hacks/Hackers Taipei co-organizer 、公視新媒體諮詢委員以及輔大新媒體技術課程兼任講師。

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/stchen.jpg")
      .media-body
        h4.media-heading 陳信聰 / 公共電視論壇節目《有話好說》製作人兼主持人
        p 陳信聰，曾獲1999年竹塹文學獎小說首獎、劇本佳作。曾擔任立法院朱惠良辦公室教育及文化法案助理，新竹香山地區社區營造員，擔任公視新聞記者主跑教育、文化、國防、黨政等路線。現為公共電視論壇節目《有話好說》製作人兼主持人。

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/slchen.jpg")
      .media-body
        h4.media-heading 陳舜伶 / 中研院法律所助研究員
        p 曾服務於自由軟體鑄造場及 CC Taiwan 兩計畫創始團隊，研究主題包括著作權法、資訊法、網路社群治理與發展、開放協作與知識民主。

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/syhsieh.jpg")
      .media-body
        h4.media-heading 謝昇佑 / 好食機共同創辦人
        p 好食機農食整合有限公司 共同創辦人
        p 主婦聯盟生活消費合作社 顧問
        p 台大食養農創學程 專案助理教授
