#judge.section: .inner
  h1 評選召集
  .row
    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/ronnywang.jpg")
      .media-body
        h4.media-heading 王向榮／李慕約公司 共同創辦人
        p 李慕約公司共同創辦人，g0v 社群長期參與者，發起與參與過新聞小幫手、求職小幫手、台灣公司資料、開放政治獻金等專案，希望更透明的政府可以讓大家有更自由幸福的生活。


    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/jimmyhuang.jpg")
      .media-body
        h4.media-heading 黃雋／網絡行動科技 共同創辦人
        p 專注於經營社會企業、服務 NPO 建置網站專案、為 NPO 導入 CRM 計畫將近十年。相信 NPO 是改變社會的重要環節，需要更多人關注與提供合作與服務，希望開放透明的 g0v Grants 專案亦可為此創造更多可能。

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/linyihan.jpg")
      .media-body
        h4.media-heading 林以涵／社企流 共同創辦人暨執行長
        p 政治大學公共行政學士、美國德州奧斯丁大學公共事務碩士。2012 年創辦「社企流」，期望透過華文串連社會創新創業的資訊與資源，健全生態圈發展。

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/kirby.jpg")
      .media-body
        h4.media-heading 吳泰輝／ #[span.g0v g0v] 零時政府 共同發起人
        p #[span.g0v g0v] 零時政府共同發起人，亦為資料視覺化領域與網頁技術專家。近年關注新聞創新領域，為 Hacks/Hackers Taipei Co-Organizer 、公視新媒體諮詢委員以及輔大新媒體技術課程兼任講師。

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/stchen.jpg")
      .media-body
        h4.media-heading 陳信聰／公共電視論壇節目《有話好說》 製作人兼主持人
        p 曾獲 1999 年竹塹文學獎小說首獎、劇本佳作。曾擔任立法院朱惠良辦公室教育及文化法案助理，新竹香山地區社區營造員，擔任公視新聞記者主跑教育、文化、國防、黨政等路線。現為公共電視論壇節目《有話好說》製作人兼主持人。

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/wuyipei.jpg")
      .media-body
        h4.media-heading 吳宜珮／台灣創意設計中心專案總監、美國創新中心顧問
        p 2013 年起引進設置 RedDot 紅點設計博物館、美國創新中心，並於台灣推動辦理首次「魚客松 Fishackathon」及「NASA 黑客松」，擔任 2016 臺北世界設計之都副執行長，代表領取 2017 年 DMI 設計創新獎，長年推動國際合作、設計創新、服務設計、設計導入公共政策等工作。

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/huangmao.jpg")
      .media-body
        h4.media-heading 黃瑞茂／淡江大學建築學系 專任副教授
        p 淡水社區工作室主持人、專業者都市改革組織（OURs）常務理事。長期關注臺灣社會轉變過程中，都市空間所面對的種種面向的議題，1993 年成立「淡水社區工作室」參與真實的環境改造工作，特別在歷史城鎮淡水地區從事多年的在地工作。
