#judge.section: .inner
  .text-center
    h3 評選委員
  br
  .row
    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/sw.jpg")
      .media-body
        h4.media-heading 陳昇瑋 / 中研院資訊科學所研究員、台灣資料科學協會理事長
        p 長期推廣資料科學及其在各領域的應用，發起台灣資料科學協會及台灣資料科學年會，將資料科學引入每個人的專業領域之中，讓資料分析在台灣不再是口號，而是大家真實拿來解決問題及創造價值的工具。

    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/sf.jpg")
      .media-body
        h4.media-heading 蔡淑芳 / 開拓文教基金會執行長
        p 帶領開拓團隊建立性別、身障、原住民、災後重建等等不同務領域的服務網站。多年來透過科技濃湯軟體的捐贈平台與資訊運用培訓，扮演著非營利組織與資訊科技之間的橋樑角色。

  .row
    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/ss.jpg")
      .media-body
        h4.media-heading 陳順孝 / 輔大新聞傳播副教授
        p 種過田、擺過地攤、編過報紙頭版，現任輔大新聞傳播系副教授，積極參與公民新聞、獨立媒體、新聞創業。
    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/cjin.jpg")
      .media-body
        h4.media-heading 程希瑾 / 500 Startups 駐台代表
        p 程希瑾是矽谷知名種子基金暨創業育成加速器 500 Startups 的在台 Venture Partner。自 2004 年起共同創辦了三家公司：隨想行動科技、社群遊戲公司嘎姆擂台（Gamelet）、Cubie Messenger。

  .row
    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/clkao.jpg")
      .media-body
        h4.media-heading 高嘉良 / #[span.g0v g0v] 零時政府共同發起人
        p #[span.g0v g0v] 零時政府共同發起人。參加 1997 年國際資訊奧林匹亞後，進入台大資訊系就讀，即活躍於國內外開放源碼社群，隨後旅居英國倫敦從事軟體開發及顧問工作。2012 年發起 #[span.g0v g0v] 計畫。
    .col-sm-12: .media
      .media-left
        a(href="#"): img.media-object(src="/images/static/avatar/kirby.jpg")
      .media-body
        h4.media-heading 吳泰輝 / #[span.g0v g0v] 零時政府共同發起人
        p #[span.g0v g0v] 零時政府共同發起人，網路工程師，深度耕耘資料視覺化與新媒體實驗。
