#landing.with-bk
  .inner
    img.mainlogo(src="/images/static/landing-banner-2017a.svg",style="width:520px;margin-top:20px;")
    img.mainlogo-sm(src="/images/static/landing-banner-2017a-sm.svg")
  .text-center
    //a.btn.btn-primary.btn-lg.btn-xl(href="/dashboards/#{grantdash.dashboard}/create") #[i.fa.fa-hand-o-up] 我要提案
    span &nbsp;
    a.btn.btn-danger.btn-lg.btn-xl(href="/dashboards/#{grantdash.dashboard}") #[i.fa.fa-eye] 來看提案
    span &nbsp;
    a.btn.btn-primary.btn-lg.btn-xl(href="/dashboards/2017spring?sort=showcase") #[i.fa.fa-eye] 2017 春季提案
