#landing.with-bk
  .inner
    img.mainlogo(src="/images/static/2018/2018-text.svg")
    #landing-action
      a.btn.btn-primary.btn-lg.btn-xl(href="https://discuss.grants.g0v.tw/t/topic/781") #[i.fa.fa-thumbs-up] 獲獎提案
      span &nbsp;
      a.btn.btn-danger.btn-lg.btn-xl(href="/dashboards/#{grantdash.dashboard}") #[i.fa.fa-eye] 提案一覽
      //- used after final list
        a.btn.btn-danger.btn-lg.btn-xl(href="/power/") 獲獎專案一覽
        span &nbsp;
        a.btn.btn-primary.btn-lg.btn-xl(href="/power/en/") List of Grantees
