nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collaped(type="button",data-toggle="collapse",
      data-target="#navbar-collapse",aria-expanded="false") #[i.fa.fa-bars]
      a.navbar-brand(href="/")
        img(src="/images/static/brand.png")
        sup(style="color:#ff9")
    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(data-scroll,href="/") 關於 Grant
        li: a(data-scroll,href="/#means") 活動辦法
        li: a(data-scroll,href="/#faq") 常見問題
        li.dropdown
          a.dropdown-toggle(href="#",data-toggle="dropdown") 關於我們 #[span.caret]
          ul.dropdown-menu
            li: a(data-scroll,href="/#judge") 評選委員
            li: a(data-scroll,href="/#team") 執行團隊
            li: a(data-scroll,href="/#partners") 合作夥伴
            li: a(data-scroll,href="/power") POWERED BY
      form.navbar-form.navbar-right
        a.btn.btn-warning(href="/dashboards/2017spring?sort=showcase") 入圍及獲獎提案
