nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collaped(type="button",data-toggle="collapse",
      data-target="#navbar-collapse",aria-expanded="false") #[i.fa.fa-bars]
      a.navbar-brand(href="/")
        img(src="/images/static/brand.png")
        sup(style="color:#ff9")
    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(data-scroll,href="/") 關於 Grant
        li: a(data-scroll,href="/#means") 活動辦法
        li: a(data-scroll,href="/#faq") 常見問題
        li: a(href="https://g0v.news/tagged/%E7%8D%8E%E5%8A%A9%E9%87%91?source=post",target="_blank") 相關報導
        li.dropdown
          a.dropdown-toggle(href="#",data-toggle="dropdown") 關於我們 #[span.caret]
          ul.dropdown-menu
            //-li: a(data-scroll,href="/#judge") 評選委員
            li: a(data-scroll,href="/#team") 執行團隊
            li: a(data-scroll,href="/#partners") 合作夥伴
            li: a(data-scroll,href="/power") POWERED BY
            li: a(data-scroll,href="/power/en") POWERED BY (EN)
        li.dropdown
          a.dropdown-toggle(href="#",data-toggle="dropdown") 歷屆提案列表 #[span.caret]
          ul.dropdown-menu
            li: a(href="/dashboards/2017autumn?sort=showcase") 2017 秋季
            li: a(href="/dashboards/2017spring?sort=showcase") 2017 春季
