nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collaped(type="button",data-toggle="collapse",
      data-target="#navbar-collapse",aria-expanded="false") #[i.fa.fa-bars]
      a.navbar-brand(href="/")
        img(src="/images/static/brand.png")
        sup(style="color:#ff9")
    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(data-scroll,href="/") 關於 Grant
        li: a(data-scroll,href="/#schedule") 活動辦法
        li: a(data-scroll,href="/#faq") 常見問題
        li: a(data-scroll,href="/#team") 執行團隊
        li: a(data-scroll,href="/#partners") 合作夥伴
      form.navbar-form.navbar-right
        a.btn.btn-warning(href="/dashboards/2017spring") 提案及評論公開徵求中
