#partners.section: .inner(style="max-width:1024px")
  .text-center

    h3 合作夥伴
    br
    .sponsor.partner
      .banner(style="background-image:url(/images/static/sponsor/udn.png)",href="http://vision.udn.com/vision/index",target="_blank")
      .oneword 21世紀是科技即國力的時代，公民參與科技愈普及，對國力提升愈有幫助
      .detail.text-left 
        div 我是誰： 願景工程是2011年聯合報六十周年社慶時對社會許下的承諾，要努力讓台灣更好。
        div 做些什麼事：引領關注重大公共議題，至今已推出數十個大型專題報導、上百場活動。
        div 邀您手攜手：願景工程不只報導，還有行動，你我合作，正向改變。
    br
    h3 協辦單位
    br
    .sponsor.simple
      a.banner(style="background-image:url(/images/static/sponsor/ocf.png)",href="https://ocf.tw",target="_blank")
    br
    h3 媒體協力
    br
    .sponsor.simple
      a.banner(style="background-image:url(/images/static/sponsor/udn.png)",href="http://vision.udn.com/vision/index",target="_blank")
    br
    br
    a.btn.btn-lg.btn-danger(href="mailto:jothon-organizers {at} g0v.tw") 合作洽詢
