#topics.section
  .inner
    h3 主題方向
    br
    .row.text-center
      .col-sm-2.col-xs-6.topic
        img(src="/images/static/2019/topics/open-government.svg")
        .title 開放政府
      .col-sm-2.col-xs-6.topic
        img(src="/images/static/2019/topics/new-media.svg")
        .title 新媒體
      .col-sm-2.col-xs-6.topic
        img(src="/images/static/2019/topics/servant.svg")
        .title 公共服務
      .col-sm-2.col-xs-6.topic
        img(src="/images/static/2019/topics/open-data.svg")
        .title 開放資料
      .col-sm-2.col-xs-6.topic
        img(src="/images/static/2019/topics/social.svg")
        .title 社會參與
      .col-sm-2.col-xs-6.topic
        img(src="/images/static/2019/topics/infrastructure.svg")
        .title 基礎建設
    //-
      br
      .text-center
        h2 特別主題
        p 合作夥伴針對特定主題的額外獎金
      br
      .row.text-center
        a(href="/issue/")
          img(src="/images/static/2018/topics/icon-special-udn.png")
          .title(style="margin:20px 0") 主題：「世代共好」
          img(src="/images/static/sponsor/udn.png")
