#topics.section
  .inner.topic-list
    .text-center: h3 主題方向
    br
    .row.text-center
      .col-sm-4.col-xs-6
        img(src="/images/static/2018/topics/icon-open-gov.png")
        .title 開放政府
      .col-sm-4.col-xs-6
        img(src="/images/static/2018/topics/icon-new-media.png")
        .title 新媒體
      .col-sm-4.col-xs-6
        img(src="/images/static/2018/topics/icon-policy.png")
        .title 公共服務
      .col-sm-4.col-xs-6
        img(src="/images/static/2018/topics/icon-open-data.png")
        .title 開放資料
      .col-sm-4.col-xs-6
        img(src="/images/static/2018/topics/icon-open-society.png")
        .title 社會參與
      .col-sm-4.col-xs-6
        img(src="/images/static/2018/topics/icon-open-infras.png")
        .title 基礎建設
