#topics.section
  .inner.topic-list
    .text-center: h3 主題方向
    br
    .row.text-center
      .col-sm-4.col-xs-6
        img(src="/images/static/2018/topics/icon-open-gov.svg")
        .title 開放政府
      .col-sm-4.col-xs-6
        img(src="/images/static/2018/topics/icon-new-media.svg")
        .title 新媒體
      .col-sm-4.col-xs-6
        img(src="/images/static/2018/topics/icon-policy.svg")
        .title 公共服務
      .col-sm-4.col-xs-6
        img(src="/images/static/2018/topics/icon-open-data.svg")
        .title 開放資料
      .col-sm-4.col-xs-6
        img(src="/images/static/2018/topics/icon-open-society.svg")
        .title 社會參與
      .col-sm-4.col-xs-6
        img(src="/images/static/2018/topics/icon-open-infras.svg")
        .title 基礎建設
    .text-center
      h3 特別主題
      p 合作夥伴針對特定主題的額外獎金
    br
    .row.text-center
      a(href="/issue/")
        div(style="width:240px;height:240px;border:1px solid #999;border-radius:25%;background:url(/images/static/sponsor/udn.png) center center no-repeat #eee;margin:0 auto 20px")
        .title 主題：「世代協力」
    br
    br
