#topics.section
  .inner.topic-list
    h3.text-center 公民科技
    .row.text-center
      .col-sm-4.col-xs-6
        img(src="/images/static/topics/open-government-nt.svg")
        .title 開放政府
      .col-sm-4.col-xs-6
        img(src="/images/static/topics/new-media-nt.svg")
        .title 新媒體
      .col-sm-4.col-xs-6
        img(src="/images/static/topics/public-service-nt.svg")
        .title 公共政策
      .col-sm-4.col-xs-6
        img(src="/images/static/topics/open-data-nt.svg")
        .title 開放資料
      .col-sm-4.col-xs-6
        img(src="/images/static/topics/social-participate-nt.svg")
        .title 社會參與
      .col-sm-4.col-xs-6
        img(src="/images/static/topics/infrastructure-nt.svg")
        .title 基礎建設
