/*
 * grantdash overrides
 */

.action-links a.tooltips.contribute {
  display: none !important;
}

.people .contributor {
  display: none;
}

.bottom-buttons .btn.contributor {
  display: none;
}

.buttons-panel .contributor {
  display: none;
}

.cover .progress {
  display: none;
}

.entities .progress {
  display: none;
}

.help-inline {
  border: 1px solid red;
  padding: 5px;
  border-radius: 5px;
  color: red;
  font-size: smaller;
}

#ghImportHolder {
  display: none;
}

.description {
  h1 {
    color: @color-blue;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.2em;
    line-height: 2rem;
  }
  p {
    margin-left: 1rem;
  }
  a {
    color: @color-green;
  }
}

.btn-blue {
  color: #f3f3f3;
}

.page-ctn.dashboard .dash-admins {
  display: none !important;
}
