/*
 * grantdash overrides
 */

.action-links a.tooltips.contribute {
  display: none;
}

.people .contributor {
  display: none;
}

.bottom-buttons .btn.contributor {
  display: none;
}

.buttons-panel .contributor {
  display: none;
}

.cover .progress {
  display: none;
}

.entities .progress {
  display: none;
}
